@model PL.Models.ExplorerModel

@foreach (var dir in Model.Directories)
{
    <tr class="folder" ondblclick="location.href = '@Url.Action("Index", "Home", new { path = HttpContext.Current.Request.RequestContext.RouteData.Values["path"] + dir.Name + "/" })'">
        <td class="folderName">
            <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
            @dir.Name
        </td>
        <td>@dir.LastAccessTime</td>
        <td>File folder</td>
        <td></td>
    </tr>
}
@foreach (var file in Model.Files)
{
    <tr class="file">
        <td class="fileName">
            @file.Name
        </td>
        <td>@file.LastAccessTime</td>
        <td>@file.Extension.ToUpper().Replace(".", "") File</td>
        <td>@file.FileSizeText</td>
    </tr>
}