@model PL.Models.ExplorerModel
@{
    ViewBag.Title = "Explorer";
    var uriDrive = (string)HttpContext.Current.Request.RequestContext.RouteData.Values["driveName"];
    var uriPath = (string)HttpContext.Current.Request.RequestContext.RouteData.Values["path"];
    Uri uri = Request.Url;
}
@Scripts.Render("~/bundles/custom")

<input type="hidden" id="uriDrive" value="@uriDrive" />
<input type="hidden" id="uriPath" value="@uriPath" />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            @if (uri.AbsolutePath.ToLower() != "/home/explorer/")
            {
                <a title="Back" class="glyphicon glyphicon-arrow-left"
                   href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
                </a>
                <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
                <p>@string.Format("{0} > {1}", uriDrive, string.IsNullOrEmpty(uriPath) ? "" : uriPath.Replace("/", " > "))</p>
            }
            else
            {
                <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
            }
        </div>
        <div class="col-md-6">
            @using (Ajax.BeginForm("FileSearch", "Home", FormMethod.Post,
                new AjaxOptions
                {
                    UpdateTargetId = "explorerTable", 
                    HttpMethod = "POST",
                    OnSuccess = "onFileFindSuccess"
                }))
            {
                <div class="form-group navbar-form">

                    @Html.TextBox("searchResult", null, new { @class = "form-control", placeholder = "Search " })
                    <button class="btn btn-default" type="submit">Find</button>
                </div>
                @Html.Hidden("driveName", ViewContext.RouteData.Values["driveName"])
                @Html.Hidden("path", ViewContext.RouteData.Values["path"])
            }
        </div>


    </div>
    
    <div id="buttons">
        @if (User.IsInRole("admin"))
        {
            <div class="col-md-offset-2 col-md-2">
                @Html.Action("CreateFolder", "Home", new { })
            </div>
            <div class="col-md-2">
                @Html.Action("UploadFile", "Home", new { })
            </div>
            <div class="col-md-2">
                <button id="deleteButton" class="btn btn-danger">Remove</button>
            </div>
        }
    </div>
</div>

<table class="table table-hover" style="border: none">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="dateModified">Date modified</th>
            <th class="type">Type</th>
            <th class="fileSize">Size</th>
        </tr>
    </thead>
    <tbody id="explorerTable">
        @Html.Action("GetDirectories", "Home", new { driveName = uriDrive, path = uriPath })
    </tbody>
</table>
