@model PL.Models.ExplorerModel
@{
    ViewBag.Title = "Index";
    var uriPath = (string)HttpContext.Current.Request.RequestContext.RouteData.Values["path"];
    Uri uri = Request.Url;
}
@section Scripts
{
    <script type="text/javascript">

    function onFolderCreateSuccess() {
        $("#createFolderModal").modal("hide");
    };

    function onFileUploadSuccess() {
        $("#uploadFileModal").modal("hide");
    };



    $(document).ready(function() {
        var name = "";
        var type = "";

        $("#deleteButton").prop("disabled", true);
        $("#explorerTable tr").click(function() {
            var self = $(this);
            var selected = self.hasClass("chosen");
            $("#explorerTable tr").removeClass("chosen");
            name = "";
            type = "";
            $("#deleteButton").prop("disabled", true);
            if (!selected) {
                $("#deleteButton").prop("disabled", false);
                $(this).addClass("chosen");
                var tds = self.children("td");
                name = tds[0].innerText;
                type = tds[2].innerText;
            }
        });

        $("#deleteButton").click(function() {
            console.log(name + " " + type);
            var jsonObject = { "name": name, "type": type, "path": "@HttpContext.Current.Request.RequestContext.RouteData.Values["path"]" }
            console.log(jsonObject);
            console.log(JSON.stringify(jsonObject));
            console.log(JSON.stringify(jsonObject));
            var isConfirmed = confirm("Are you sure?");
            if (isConfirmed === true) {
                $.ajax({
                    url: "/Home/DeleteFile",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function(data) {
                        alert(data); 
                        $(".chosen").remove();
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
        });

    });
    </script>
}

<div class="row">
    <div class="col-md-12">
        @if (uri.AbsolutePath.ToLower() != "/home/index/")
        {
            <a title="Back" class="glyphicon glyphicon-arrow-left"
               href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
            </a>
            <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
            @uriPath.Replace("/", " > ");
        }
        else
        {
            <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
        }
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-offset-2 col-md-2">
            @Html.Action("CreateFolder", "Home", new { })
        </div>
        <div class="col-md-2">
            @Html.Action("UploadFile", "Home", new { })
        </div>
        <div class="col-md-2">
            
            @*<a id="deleteFile" title="Delete" class="btn btn-primary glyphicon glyphicon-remove col-md-1"
               href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
            </a>*@
            <button id="deleteButton" class="btn btn-danger">Remove</button>

            @*@Ajax.ActionLink("Remove", "Remove", new { userId = user.Id, roleName = "admin" },
                                             new AjaxOptions { UpdateTargetId = "explorerTable", HttpMethod = "Post" },
                                            new { @class = "btn btn-success" })*@
        </div>
    }
</div>

<table class="table table-hover" style="border: none">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date modified</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody id="explorerTable">
        @Html.Action("GetDirectories", "Home", new { path = uriPath })
    </tbody>
</table>
