@using PL.Models
@model IEnumerable<DriveViewModel>
@{
    ViewBag.Title = ViewBag.HostName;
}

<div class="row">
        @foreach (DriveViewModel drive in Model)
        {
            <div class="col-md-3" ondblclick="location.href = '@Url.Action("Explorer", "Home", new { driveName = drive.Name.Replace(@":\", "") })'">
                <div class="col-md-4">
                    <img src="~/Content/drive.jpg" alt="Drive icon" align="top" style="width: 100%; height: 100%; border: none" />
                </div>
                <div class="col-md-8" style="font-size: smaller">
                    <p>@drive.VolumeLabel (@drive.Name.Replace(@"\", ""))</p>
                    <p>@drive.TotalFreeSpace free of @drive.TotalSize</p>
                </div>
            </div>
        }
</div>
