@model PL.Models.ExplorerModel
@{
    ViewBag.Title = "Index";
    var uriPath = (string)HttpContext.Current.Request.RequestContext.RouteData.Values["path"];
    Uri uri = Request.Url;
}
@section Scripts
{
    <script type="text/javascript">

        function onFolderCreateSuccess() {
            $("#createFolderModal").modal("hide");
        };

        function onFileUploadSuccess() {
            $("#uploadFileModal").modal("hide");
        };

        $(document).ready(function () {
            //$("#btnCreateFolderSubmit").click(function() {
            //    var formData = $("#createFolderForm").serialize();

            //    $.ajax({
            //        type: "POST",
            //        url: "/Home/CreateFolder",
            //        data: "",
            //        success: onFolderCreateSuccess()
            //    });
            //});
        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        @if (uri.AbsolutePath.ToLower() != "/home/index/")
        {
            <a title="Back" class="glyphicon glyphicon-arrow-left"
               href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
            </a>
            <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
            @uriPath.Replace("/", " > ");
        }
        else
        {
            <img src="~/Content/generic-folder.ico" alt="Folder icon" align="top" style="width: 20px; height: 20px; border: none" />
        }
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-offset-2 col-md-2">
            @Html.Action("CreateFolder", "Home", new { })
        </div>
        <div class="col-md-2">
            @Html.Action("UploadFile", "Home", new { })
        </div>
        <div class="col-md-2">
            <a id="deleteFile" title="Delete" class="btn btn-primary glyphicon glyphicon-remove col-md-1"
               href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
            </a>
        </div>
    }
</div>

<table class="table table-hover" style="border: none">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date modified</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody id="explorerTable">
        @Html.Action("GetDirectories", "Home", new { path = uriPath })
    </tbody>
</table>
